* {
 margin:0;
 padding:0;
 -webkit-text-size-adjust:none; }

body {
color:#666;
font-size:16px;
overflow-x:hidden;
font-family:Helvetica, AppleGothic, 돋움, Dotum; }

img { border:0 ;vertical-align: top}
fieldset { border:0 }

ul, ol, li, dl { list-style:none; }
h1, h2, h3, h4, h5, h6 {
 font-size:100%;
 font-weight:normal; }
hr { display:none; }
a { color:inherit; }
a, a:link {
 color:#333;
 text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {
 color:#333;
 text-decoration:none; }
em, i, address {
 font-style:normal;
 font-weight:normal; }
legend, caption {
 display:none;
 clear:both; }
input, textarea, select, button, table {
 font-size:inherit;
 font-family:inherit;
 line-height:inherit; }
section, nav, article, aside, hgroup, header, footer { display:block }
textarea, input {
 background:url(none);
 -webkit-border-radius:1px;
 -webkit-apprearance:none; }
textarea { resize:none; }
label { cursor:pointer; }

@font-face{
	font-family:nanumFont;
	src:url("fonts/nanum.eot");
	src:local("nanumgothicExtraBold"), url("fonts/nanum.ttf") format("truetype");}

.helv { font-family:돋움, HelveticaNeue, Dotum, 굴림, Gulim, Apple-Gothic; }
.verd { font-family:verdana, 돋움, HelveticaNeue, Dotum, 굴림, Gulim, Apple-Gothic; }
.nanum{font-family:nanumFont,"돋움",dotum;}
.bold { font-weight:bold; }

.header_div {
    	width: 100%;
    	height: 40px;
    	background-color: #3b5998;
    	text-align: right;
    	color: white;
    	padding-top:20px;
    	padding-right:20px;
}
.uname {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.doc_div {
	width: 100%;
	height: 100%;
	
}



